<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.date_of_birth %></td>
  <td>
    <% if user != current_user && !current_user.friends.include?(user) %>
      <%= link_to 'Add as Friend', friendship_path(user.id), method: :post %></td>
    <% end %>
</tr>
